body {
    margin: 0;
}

header {
    position: relative;
    background-image: url("images/lampos-aritonang-24gR_9lCdes-unsplash.jpg");
    height: 667px;
    width: 100%;
    background-size: cover;
    background-position-y: -214px;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    /* Couleur semi-transparente */
    backdrop-filter: brightness(0.8);
    /* Applique le filtre */
    z-index: 1;
}

.logo {
    position: absolute;
    left: 69px;
    top: 51px;
    z-index: 2;
}

.header-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 298px;
}

header h1 {
    position: relative;
    z-index: 2;
    color: #ffd15b;
    font-family: "Anton", serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 54px;
    margin-top: 0;
    margin-bottom: 29px;
}

.search-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.search {
    z-index: 2;
    width: 954px;
    height: 86px;
    padding-left: 35px;
    padding-right: 100px;
    border-radius: 11px;
    border: 0;
    font-size: 20px;
}

.search-button {
    z-index: 2;
    position: absolute;
    top: 8px;
    right: 15px;
    background-color: black;
    color: white;
    padding: 10px;
    width: 51px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.search-button:hover {
    background-color: #ffd15b;
    color: black;
}

.search-button i {
    font-size: xx-large;
}

.recipe-container {
    background-color: #ededed;
}

.tri {
    display: flex;
    gap: 66px;
    margin-left: 65px;
    padding-top: 20px;
    align-items: center;
}

.dropdown {
    position: relative;
    margin-top: 20px;
}

.dropdown-header {
    padding: 17px 16px;
    background-color: white;
    color: black;
    font-family: "Manrope", serif;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    gap: 63px;
    align-items: center;
}

.dropdown-header i {
    transition: transform 0.3s;
}

.dropdown.active .dropdown-header i {
    transform: rotate(180deg);
}

.dropdown-options-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 10px 0;
}

.dropdown.active .dropdown-options-container {
    display: block;
}

.dropdown-search-container {
    position: relative;
    margin-bottom: 10px;
    padding-inline: 10px;
}

.dropdown-search-container input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

.dropdown-search-container input:focus {
    border-color: #007bff;
}

.dropdown-search-container i {
    position: absolute;
    top: 40%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
}

.dropdown-search {
    width: 75%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.dropdown-search:focus {
    border-color: grey;
}

.dropdown-options {
    max-height: 200px;
    overflow-y: auto;
    padding-inline: 10px;
}

.dropdown-options div {
    font-family: "Manrope", serif;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-options div:hover {
    background-color: #f0f0f0;
}

.dropdown .tag-container {
    background-color: #ffd15b;
    margin-bottom: 10px;
}

.dropdown .tag {
    position: relative;
    font-family: "Manrope", serif;
    background-color: #ffd15b;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
    justify-content: space-between;
}

.dropdown .tag:hover {
    font-weight: bold;
}

.dropdown .remove-tag {
    display: none;
    position: absolute;
    top: 25%;
    right: 5%;
    font-size: 14px;
    cursor: pointer;
}

.dropdown .tag:hover .remove-tag {
    display: inline-block;
}

.tag .remove-tag {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.tag .remove-tag:hover {
    color: #000;
}

.tri h2 {
    font-family: "Anton", serif;
    font-size: 21px;
    font-weight: 400;
    position: absolute;
    right: 102px;
}

.recipe-cards {
    padding-top: 55px;
    display: flex;
    flex-wrap: wrap;
    gap: 66px 48px;
    padding-bottom: 75px;
    padding-left: 102px;
}

.recipe-card {
    position: relative;
    width: 380px;
    background-color: white;
    border-radius: 21px;
    overflow: hidden;
}

.recipe-image {
    width: 100%;
    height: 253px;
    object-fit: cover;
}

h2 {
    margin: 0;
}

.recipe {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 29px;
    margin-bottom: 61px;
}

.time {
    position: absolute;
    top: 21px;
    right: 22px;
    background-color: #ffd15b;
    padding: 5px 15px;
    border-radius: 14px;
    font-family: "Manrope", serif;
    font-size: 12px;
    margin: 0;
}

.recipe-body {
    margin: 25px;
}

.recipe-name {
    font-family: "Anton", serif;
    font-size: 18px;
}

.recipe-body h3 {
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Manrope", serif;
    font-weight: 700;
    color: #7a7a7a;
}

.recipe-body p {
    font-family: "Manrope", serif;
    font-size: 14px;
    color: #1b1b1b;
}

.recipe-description {
    width: 330px;
    height: 76px;
    overflow: hidden;
    margin: 0;
}

.ingredient-grid {
    font-family: "Manrope", serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 10px;
}

.ingredient-item {
    font-size: 14px;
}

.ingredient-name {
    font-weight: 500;
    display: block;
}

.ingredient-quantity {
    color: #7a7a7a;
    margin-top: 5px;
    display: block;
}

.tags-container {
    margin: 10px 0;
    z-index: 2;
    width: fit-content;
}

.copied-tag {
    width: fit-content;
    margin-left: 65px;
    margin-top: 20px;
    background-color: #ffd15b;
    color: #333;
    border-radius: 10px;
    padding: 17px 18px;
    font-size: 14px;
    font-family: "Manrope", serif;
    display: inline-flex;
    gap: 60px;
}

.copied-tag .remove-tag {
    margin-left: 10px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}