body {
    margin: 0;
}

header {
    position: relative;
    background-image: url("images/lampos-aritonang-24gR_9lCdes-unsplash.jpg");
    height: 667px;
    width: 100%;
    background-size: cover;
    background-position-y: -214px;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    /* Couleur semi-transparente */
    backdrop-filter: brightness(0.8);
    /* Applique le filtre */
    z-index: 1;
}

.logo {
    position: absolute;
    left: 69px;
    top: 51px;
    z-index: 2;
}

.header-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 298px;
}

header h1 {
    position: relative;
    z-index: 2;
    color: #ffd15b;
    font-family: "Anton", serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 54px;
    margin-top: 0;
    margin-bottom: 29px;
}

.search-container {
    display: flex;
    flex-direction: column;
}

.search {
    z-index: 2;
    width: 954px;
    height: 86px;
    padding-left: 35px;
    border-radius: 11px;
    border: 0;
    font-size: 20px;
}

.recipe-container {
    background-color: #ededed;
}

.tri {
    display: flex;
    gap: 66px;
    margin-left: 65px;
    padding-top: 20px;
    align-items: center;
}

.tri select {
    padding: 17px 16px;
    border: 0;
    border-radius: 11px;
    width: 163px;
    font-family: "Manrope", serif;
    font-size: 16px;
    font-weight: 500;
    color: #1b1b1b;
}

.tri h2 {
    font-family: "Anton", serif;
    font-size: 21px;
    font-weight: 400;
    position: absolute;
    right: 102px;
}

.recipe-cards {
    padding-top: 55px;
    display: flex;
    flex-wrap: wrap;
    gap: 66px;
    justify-content: center;
}

.recipe-card {
    position: relative;
    width: 395px;
    background-color: white;
    border-radius: 21px;
    overflow: hidden;
}

.recipe-image {
    width: 100%;
    height: 253px;
    object-fit: cover;
}

h2 {
    margin: 0;
}

.recipe {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 29px;
    margin-bottom: 61px;
}

.time {
    position: absolute;
    top: 21px;
    right: 22px;
    background-color: #ffd15b;
    padding: 5px 15px;
    border-radius: 14px;
    font-family: "Manrope", serif;
    font-size: 12px;
    margin: 0;
}

.recipe-body {
    margin: 25px;
}

.recipe-name {
    font-family: "Anton", serif;
    font-size: 18px;
}

.recipe-body h3 {
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Manrope", serif;
    font-weight: 700;
    color: #7a7a7a;
}

.recipe-body p {
    font-family: "Manrope", serif;
    font-size: 14px;
    color: #1b1b1b;
}

.recipe-description {
    width: 330px;
    height: 76px;
    overflow: hidden;
    margin: 0;
}

/* Grille des ingrédients */
.ingredient-grid {
    font-family: "Manrope", serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Deux colonnes */
    gap: 15px;
    margin-top: 10px;
}

.ingredient-item {
    font-size: 14px;
}

.ingredient-name {
    font-weight: 500;
    display: block;
}

.ingredient-quantity {
    color: #7a7a7a;
    margin-top: 5px;
    display: block;
}

.tags-container {
    margin: 10px 0;
    z-index: 2;
    width: fit-content;
}

.tag {
    display: flex;
    align-items: center;
    background-color: #e3e3e3;
    color: #333;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
}

.tag .remove-tag {
    margin-left: 10px;
    cursor: pointer;
    color: #ff0000;
    font-weight: bold;
}